@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Multani');

body {
  background-color: black;
  color: white;
}

.gradient-text {
  background: linear-gradient(to right, #37b0d0, #0047ab);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.grey-text {
  color: #7B8185;
}

#saylor-link {
  color: #2cbad9;
}

/* header */
header {
  font-family: Quicksand;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 20px; */
  padding: 1.7vh 1.6vw;
}

.logo {
  /* width: 50px; */
  width: 4vw;
  height: auto;
  /* margin-left: 5px; */
  margin-left: 0.4vw;
  cursor: pointer;
}

 .logo-link {
  display: inline-block;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.logo-link:hover {
  transform: rotate(15deg);
}

nav {
  margin-left: 0;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0; /* Remove default margin */
  padding: 0;
  font-size: 1.20vw;
}

nav li {
  margin: 0 1.20vw;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 1.4vw; 
  transition: color 0.3s ease;
}

nav a:hover {
  color: #37b0d0;
}

.resume-button {
  background-color: #37b0d0;
  font-family: Rubik;
  /* font-size: 16px; */
  font-size: 1.25vw;
  color: black;
  /* padding: 10px 20px; */
  padding: 1.3% 1.2%;
  border: none;
  /* border-radius: 5px; */
  border-radius: 0.4%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.resume-button:hover {
  background-color: #429feb;
}

/* about me section */
.about-container {
  height: 85vh;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Noto Sans Multani;
  max-width: 100%;
  margin: 0 auto;
  padding: 1vw;
  padding-bottom: 0; 
  margin-bottom: 0;
}

.hi-text{
  font-family: Noto Sans Multani;
}

.about-text {
  text-align: left;
  font-size: 1.20vw;
  margin-bottom: 0;
  color: white;
  width: 50%;
}

.about-image {
  /* width: 32%;
  height: 32%; */
  width: 40%;
  height: 70%;
  margin-right: 4.5%; /* Space between image and text */
  /* border-radius: 10px; */
  border-radius: 0.8vw;
}

/* footer */
footer {
  background-color: black;
  color: white;
  text-align: center;
  /* padding: 10px; */
  padding: 0.8vw;
  padding-bottom: 0;
  /* padding-top: 15px; */
  padding-top: 5%;
}

footer a {
  color: white;
  margin: 0 0.39vw;
  transition: transform 0.3s ease;
}

footer img {
  width: 5.5%;
  margin-right: 0.001vw;
}

footer img:hover {
  transform: scale(1.09);
  transition: transform 0.2s ease-in-out;
}

.footer-note {
  font-family: Noto Sans Multani;
  font-size: 1.25vw;
}

/* Scroll in animation */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(4vw);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate {
  animation: slideIn 0.5s ease-out forwards;
}
