@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Multani');

body {
  background-color: black;
  color: white;
}

.gradient-text {
  background: linear-gradient(to right, #37b0d0, #0047ab);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.grey-text {
  color: #7B8185;
}

#saylor-link {
  color: #2cbad9;
}

header {
  font-family: Quicksand;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.7vh 1.6vw;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  width: 4vw;
  height: auto;
  margin-left: 0.4vw;
  cursor: pointer;
}
 .logo-link {
  display: inline-block;
  transition: transform 0.3s ease;
  transform-origin: center; /* origin for rotation */
}

.logo-link:hover {
  transform: rotate(15deg);
}

/* opening animation */
.opening-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

@keyframes logo-opening {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
  50% {
    transform: rotate(360deg) scale(1.5);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) scale(0);
    opacity: 0;
  }
}

.logo-opening {
  animation: logo-opening 3s ease-in-out;
}   

nav {
  margin-left: 0;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 1.20vw;
}

nav li {
  margin: 0 1.20vw;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 1.4vw; 
  transition: color 0.3s ease;
}

nav a:hover {
  color: #37b0d0;
}

nav a.active {
  color: #37b0d0;
}

.resume-button {
  background-color: #37b0d0;
  font-family: Rubik;
  font-size: 1.25vw;
  color: black;
  padding: 0.8% 1.7%;
  border: none;
  border-radius: 0.4vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.resume-button:hover {
  background-color: #000000;
  border: 1px solid #37b0d0;
  color: #37b0d0;
}

.resume-link {
  display: none;
}

.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

.divider {
  color: white;
}

.contact-heading {
  font-size: 3.9vw;
  align-content: center;
  text-align: center;
  margin: 1.67vw auto; 
  font-family: Rubik;
  margin-bottom: 0.4vw;
}

.contact-text {
  font-family: Noto Sans Multani;
  text-align: center;
  font-size: 1.6vw;
  margin: 0.4vw auto;
  color: #7B8185;
  width: 70%;
  margin-bottom: 2vw;
}

/* footer */
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.8vw;
  padding-bottom: 0;
  padding-top: 5%;
}

footer a {
  color: white;
  margin: 0 0.39vw;
  transition: transform 0.3s ease;
}

footer img {
  width: 5.5%;
  margin-right: 0.001vw;
  transition: transform 0.2s ease-in-out;
}

footer img:hover {
  transform: scale(1.09);
}

.footer-note {
  font-family: Noto Sans Multani;
  font-size: 1.25vw;
}

/* Scroll in animation */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(4vw);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate {
  animation: slideIn 0.5s ease-out forwards;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 14px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: #37b0d0;
  border-radius: 20px;
}

.contact-content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Noto Sans Multani;
  max-width: 100%;
  margin: 0 auto;
  padding: 1.8vw 2vw; 
  margin-bottom: 0;
  margin: 0 5vw;
  background-color: #121418;
  border-radius: 0.8vw; 
}

.contact-image {
  width: auto;
  height: 28.5vw;
  margin-right: 1.7vw;
  border-radius: 0.8vw;
}

/* Form Container */
.form-container {
  width: 50%;
  padding-left: 0;
  color: white;
  position: relative;
}

.form-container input,
.form-container textarea {
  width: 39vw;
  padding: 1vw;
  margin-bottom: 1.5vw;
  font-size: 1.1vw;
  border-radius: 0.4vw;
  border: 1px solid #ccc;
  background-color: #121418;
  color: white;
  font-family: Quicksand;
  outline: none;
}

.form-container input::placeholder,
.form-container textarea::placeholder {
  color: #6C727D;
}

.form-container .submit-btn {
  background-color: #0754B0;
  font-size: 2vw;
  padding: 0.5vw 2.5vw;
  border: none;
  border-radius: 0.4vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
  display: flex;
  align-items: center;
  margin:0;
  position: absolute;
  bottom: 0;
  right: 0; 
}

#contact-form {
  height: 28.5vw;
}

#contact-form textarea {
  resize: none;
  overflow: auto; 
}

.form-container .submit-btn:hover {
  background-color: #37b0d0;
}

.form-container select {
  width: 41.1vw;
  padding: 1vw;
  margin-bottom: 1.5vw;
  font-size: 1.1vw;
  border-radius: 0.4vw;
  border: 1px solid #ccc;
  background-color: #121418;
  color: #7B8185;
  font-family: Quicksand;
  appearance: none; /* Hide default arrow */
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For Firefox */
}

.form-container select option {
  background-color: #121418;
  color: white;
}

#other-input {
  display: none; /* Initially hidden */
  position: absolute;
  top: 0;
  left: 4.5vw;
  width: 35.5vw;
  padding: 1vw;
  padding-left: 0vw;
  font-size: 1.1vw;
  border-top-right-radius: 0.3vw;
  border-bottom-right-radius: 0.3vw;
  border-top-left-radius: 0vw;
  border-bottom-left-radius: 0vw;
  border-top: 1px solid #ccc; 
  border-bottom: 1px solid #ccc; 
  border-left: none; 
  border-right: none; 
  background-color: #121418;
  color: white;
  font-family: Quicksand;
}

.thank-you-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Rubik, sans-serif;
  padding: 2rem;
}

.thank-you-message h1 {
  font-size: 3.8rem;
  color: white;
  margin-top: 1vw;
  margin-bottom: 0vw;
  font-family: Rubik, sans-serif;
  font-weight: 600;
}

.thank-you-message p {
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
  margin-top: 0;
}

.thank-you-message .send-another-message {
  background-color: #37b0d0;
  color: black;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 0.4rem;
  transition: background-color 0.3s ease;
  font-family: Rubik, sans-serif;
  font-weight: 500;
}

.thank-you-message .send-another-message:hover {
  background-color: white;
  color: #37b0d0;
}

.g-recaptcha {
  position: relative;
  z-index: 9999;
}

@media (max-width: 768px) {
  nav ul {
    display: flex;
    flex-direction: column;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 0;
    justify-content: center;
    align-items: center;
    padding: 0;
    z-index: 9998;
    overflow: hidden;
    transition: height 0.3s ease;
  }

  nav ul.active {
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  nav li {
    text-align: center;
    margin: 1rem 0;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 1rem;
    z-index: 10000;
  }

  .resume-button {
    display: none;
  }

  .resume-link {
    display: block;
  }

  .divider {
    display: none;
  }

  nav ul li a {
    color: white;
    font-size: 1.4rem;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  nav ul li a:hover {
    color: #37b0d0;
  }

  .logo {
    width: 8vw;
    z-index: 10001;
    position: relative;
  }

  .about-content {
    flex-direction: column;
    padding: 4%;
  }

  .about-text {
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
  }

  .about-image {
    width: 80%;
    height: 46%;
    margin: 0 auto 20px auto;
    border-radius: 10px;
  }

  footer {
    padding-top: 8vw;
    padding-bottom: 4vw;
  }

  footer img {
    width: 13vw;
  }
  
  .footer-note {
    font-family: Noto Sans Multani;
    font-size: 4vw;
  }

  .contact-heading {
    font-size: 10vw;
    text-align: center;
  }

  .contact-text {
    font-size: 5vw;
    margin-bottom: 4vw;
    width: 95%;
  }

  .contact-content {
    display: flex;
    flex-direction: column;
    padding: 5vw 0vw;
    margin: 0vw 4vw;
  }

  .contact-image {
    width: 88%;
    height: auto;
    border-radius: 0.8vw;
    text-align: center;
    padding:0;
    margin:0;
    margin-bottom: 3vw;
  }

  .form-container {
    width: 95%;
    text-align: center;
  }

  .form-container input,
  .form-container textarea {
    width: 85%;
    font-size: 4vw;
    margin-bottom: 3vw;
    padding: 3vw;
  }

  .form-container select {
    width: 92.3%;
    padding: 3vw;
    margin-bottom: 3vw;
    font-size: 4vw;
    border-radius: 0.4vw;
    border: 1px solid #ccc;
    background-color: #121418;
  }

  #other-input {
    display: none;
    position: absolute;
    top: 0;
    left: 19vw;
    width: 59.5vw;
    padding: 3vw;
    padding-left: 0vw;
    font-size: 4vw;
    border-top-right-radius: 0.3vw;
    border-bottom-right-radius: 0.3vw;
    border-top-left-radius: 0vw;
    border-bottom-left-radius: 0vw;
    border-top: 1px solid #ccc; 
    border-bottom: 1px solid #ccc; 
    border-left: none; 
    border-right: none; 
    background-color: #121418;
  }
  
  .form-container .submit-btn {
    background-color: #0754B0;
    font-size: 4.5vw;
    padding: 2vw 5vw;
    border: none;
    border-radius: 0.4vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
    display: flex;
    align-items: center;
    margin:0;
    position: absolute;
    bottom: 0;
    right: 3vw; 
  }

  #contact-form {
    height: 85.3vw;
  }

  .check-image {
    width: 90vw; 
  }

  .thank-you-message h1 {
    font-size: 12vw;
    margin-top: 4vw;
  }

  .thank-you-message p {
    font-size: 5.5vw;
  }
  .thank-you-message .send-another-message {
    padding: 0.5rem 1rem;
    font-size: 5.2vw;
  }
}