@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Multani');

body {
  background-color: black;
  color: white;
}

.gradient-text {
  background: linear-gradient(to right, #37b0d0, #0047ab);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.grey-text {
  color: #7B8185;
}

#saylor-link {
  color: #2cbad9;
}

header {
  font-family: Quicksand;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.7vh 1.6vw;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  width: 4vw;
  height: auto;
  margin-left: 0.4vw;
  cursor: pointer;
}
 .logo-link {
  display: inline-block;
  transition: transform 0.3s ease;
  transform-origin: center; /* origin for rotation */
}

.logo-link:hover {
  transform: rotate(15deg);
}

/* opening animation */
.opening-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

@keyframes logo-opening {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
  50% {
    transform: rotate(360deg) scale(1.5);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) scale(0);
    opacity: 0;
  }
}

.logo-opening {
  animation: logo-opening 3s ease-in-out;
}   

nav {
  margin-left: 0;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 1.20vw;
}

nav li {
  margin: 0 1.20vw;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 1.4vw; 
  transition: color 0.3s ease;
}

nav a:hover {
  color: #37b0d0;
}

nav a.active {
  color: #37b0d0;
}

.resume-button {
  background-color: #37b0d0;
  font-family: Rubik;
  font-size: 1.25vw;
  color: black;
  padding: 0.8% 1.7%;
  border: none;
  border-radius: 0.4vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.resume-button:hover {
  background-color: #429feb;
}

.resume-link {
  display: none;
}

.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

.divider {
  color: white;
}


/* about me section */
.about-container {
  height: 85vh;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Noto Sans Multani;
  max-width: 100%;
  margin: 0 auto;
  padding: 1vw;
  padding-bottom: 0; 
  margin-bottom: 0;
}

.hi-text{
  font-family: Noto Sans Multani;
}

.about-text {
  text-align: left;
  font-size: 1.20vw;
  margin-bottom: 0;
  color: white;
  width: 50%;
}

.about-image {
  width: 40%;
  height: 70%;
  margin-right: 4.5%;
  border-radius: 0.8vw;
}

/* footer */
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.8vw;
  padding-bottom: 0;
  padding-top: 5%;
}

footer a {
  color: white;
  margin: 0 0.39vw;
  transition: transform 0.3s ease;
}

footer img {
  width: 5.5%;
  margin-right: 0.001vw;
}

footer img:hover {
  transform: scale(1.09);
  transition: transform 0.2s ease-in-out;
}

.footer-note {
  font-family: Noto Sans Multani;
  font-size: 1.25vw;
}

/* Scroll in animation */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(4vw);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate {
  animation: slideIn 0.5s ease-out forwards;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 14px;
  height: 12px;
}

::-webkit-scrollbar-track {
  /* background: #1a1a1a; */
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: #37b0d0;
  border-radius: 20px;
}

@media (max-width: 768px) {
  nav ul {
    display: flex;
    flex-direction: column;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 0;
    justify-content: center;
    align-items: center;
    padding: 0;
    z-index: 9998;
    overflow: hidden;
    transition: height 0.3s ease;
  }

  nav ul.active {
    height: 100vh; /* expand to full height when active */
    justify-content: center;
    align-items: center;
  }

  nav li {
    text-align: center;
    margin: 1rem 0;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 1rem;
    z-index: 10000;
  }

  .resume-button {
    display: none;
  }

  .resume-link {
    display: block;
  }

  .divider {
    display: none;
  }

  nav ul li a {
    color: white;
    font-size: 1.4rem;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  nav ul li a:hover {
    color: #37b0d0;
  }

  .logo {
    width: 8vw;
    z-index: 10001;
    position: relative;
  }

  .about-content {
    flex-direction: column;
    padding: 4%;
  }

  .about-text {
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
  }

  .about-image {
    width: 80%;
    height: 46%;
    margin: 0 auto 20px auto;
    border-radius: 10px;
  }

  footer {
    padding-top: 8vw;
    padding-bottom: 4vw;
  }

  footer img {
    width: 13vw;
  }
  
  .footer-note {
    font-family: Noto Sans Multani;
    font-size: 4vw;
  }
}